/*
filename: stylesheet.css
aaa
*/






.menu{
    float: left;
    width:25%;
}

div {
    outline-style: solid;
    outline-color: purple;
    width: 80%;
    text-align: center;
    margin: auto;
    

}


nav::after {
    display: table;
    content: '';
    clear: left;
}